/*--------accueil--------*/
.intro{
    background-color: rgba(234, 229, 201, 0.584);
    
    width:100%;
    height: auto;
}
.logo{
    padding-top: 50px;
    margin-left: 12%;
}

.titre{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color:brown;
    /*text-align:center;*/
}
.titre2{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color:brown;
    text-align:center;
    
    
}
.navbar{
    width: 80%;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    
}
.text{
    color:crimson;
    font-family:'Dancing Script', cursive;
    font-size: 35px;
}
/* le block conteneur */
.marquee-rtl {
    max-width: 30em;                      /* largeur de la fenêtre */
    margin: 1em auto 2em;
    border-radius: 10px solid #F0F0FF;
    overflow: hidden;                     /* masque tout ce qui dépasse */
    box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
  }
  /* le bloc défilant */
.marquee-rtl > :first-child {
    display: inline-block;                /* modèle de boîte en ligne */
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement à droite du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */
    animation: defilement-rtl 20s infinite linear;
  }
  @keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    50% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
    100% {
      transform: translate3d(0,0,0);  /* position finale à droite */
    }
    
  }
  .imgA{
    width:80%;
   margin-left: auto;
   margin-right: auto;
   display:block;
   
  }
  
  .imgB{
    width:20%;
   margin-left: auto;
   margin-right: auto;
   display:block;
   
  }
  .footer{
    font-size: 20px;
    color:black;
    font-family: 'Dancing Script', cursive;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  
  
  /*-------------le club-------*/
  .Club{
    background-image:linear-gradient(rgba(255, 255, 255, 0.849),rgba(240, 233, 233, 0.781)), url('images/1.jpg');
    width:100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.inscription{
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}
  .titreClub{
    font-size: 50px;
    color:blue;
    text-align: center;
    padding-top: 1%;
    font-family: 'Dancing Script', cursive;
  }
  .saison{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color:brown;
  }
  .saison1{
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    color:brown;
  }
  
  .siege_social{
    font-family: 'Dancing Script', cursive;
  font-size: 25px;
  }

  /*------------page documentation-----------*/
   /* Styles pour la mise en page */
   .container {
   width:100%;
   height:auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color:brown;
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    
}
/*----------photo-------*/
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 20px;
  width: 20px;
  outline: rgb(20, 19, 19);
  background-color: rgba(0, 0, 0, 0.753);
  background-size: 100%, 100%;
  border-radius: 50%;
  
}
/*-----------page Qi-----*/
.titre_qi{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family:'Dancing Script', cursive;
    font-size: 2em;
    color: rgb(111, 100, 86);
}
.text_qi{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family:'Dancing Script', cursive;
    font-size: 2em;
    color: rgb(177, 147, 107);
}